h1{
    
    color: red;
    text-align: center;
}
body{
    background-image: url("forgotimg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}

.old{
    text-size-adjust: 20px;
    color: red;
}
.new{
    color: red;

}
.con{
    color: red;
}
h3{
    color: red;
}